.tour-card {
  background: var(--white);

  border: 1px solid var(--border);

  overflow: hidden;

  transition: var(--transition);
}

.tour-card:hover {
  transform: translateY(-7px);

  box-shadow: var(--shadow-md);
}

.tour-image {
  position: relative;

  height: 270px;

  overflow: hidden;
}

.tour-image img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: transform 0.7s ease;
}

.tour-card:hover .tour-image img {
  transform: scale(1.08);
}

.tour-category {
  position: absolute;

  top: 17px;
  left: 17px;

  padding: 7px 11px;

  background: var(--teal);
  color: var(--white);

  font-size: 9px;
  font-weight: 700;

  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.tour-price {
  position: absolute;

  right: 17px;
  bottom: 17px;

  padding: 8px 12px;

  background: var(--white);
  color: var(--black);

  font-size: 11px;
  font-weight: 700;
}

.tour-content {
  padding: 25px;
}

.tour-meta {
  display: flex;
  align-items: center;
  gap: 17px;

  margin-bottom: 13px;
}

.tour-meta span {
  display: inline-flex;
  align-items: center;
  gap: 6px;

  color: var(--gray);

  font-size: 10px;
}

.tour-meta svg {
  color: var(--orange);
}

.tour-content h3 {
  margin-bottom: 20px;

  font-family: "Playfair Display", serif;

  font-size: 27px;
  line-height: 1.2;
  font-weight: 600;

  color: var(--black);
}

.tour-link {
  display: inline-flex;
  align-items: center;
  gap: 7px;

  color: var(--orange);

  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;

  transition: var(--transition);
}

.tour-link:hover {
  color: var(--teal);
  gap: 12px;
}